<section class="hero-image">  
  <div class="search-wrapper">
    <h1 class="text-white text-center fw-bold">Start your property search</h1>
    <div class="search-field">
    <div class="input-group">
      <input type="text" id="address" class="form-control text-center" placeholder="Search an address" aria-label="Search an address" aria-describedby="button-address">
      <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
    </div>
    </div>
  </div>
</section>

<content *ngIf="property" class="position-relative" style="top: -100px;">
  <div class="container bg-white rounded-5 p-4" style=" min-height: 20vh">
    <h1> Related Reviews</h1>
    <app-related-reviews [property]="property"></app-related-reviews>
  </div>
</content>