
<main class="main">
  <div class="content">
    <header class="py-3">
      <div class="container">
        <div class="row">
          <div class="col d-flex align-items-center">
            <h1 (click)="home()">RateMyLandlord</h1>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <div class="d-flex justify-content-between gap-3">
              <button href="#" class="btn btn-outline-secondary">Log in</button>
              <button class="btn btn-primary">Sign up</button>
            </div>
          </div>
        </div>
      </div>
    </header>

    <router-outlet />

  </div>
</main>

